<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/css/screen.css" rel="stylesheet" media="screen">
    <link href="http://fonts.googleapis.com/css?family=Bitter"
          rel="stylesheet" type="text/css">
    <link href="/atom.xml" rel="alternate" type="application/atom+xml"
          title="Latest Posts">
    <title>{{ page.title || "University of Montana-Missoula ACM Chapter" }}</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29360548-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <header>
      <img src="/img/acm.png"
           alt="Association for Computing Machinery logo">
      <h1>
        <a href="/">University of Montana Chapter</a>
      </h1>
    </header>

    <section>
      {{ content }}
    </section>

    <aside>
      <h3>Pages</h3>
      <ul>
        <li><a href="/pages/roster">Roster</a></li>
        <li><a href="/pages/feedback">Feedback &amp; Ideas</a></li>
      </ul>

      <h3>Resources</h3>
      <ul>
        <li>
          <a href="http://www.cs.umt.edu">CS Department</a>
        </li>
        <li>
          <a href="http://acm.org">Association for Computing
            Machinery</a>
        </li>
        <li>
          <a href="http://www.acm.org/about/code-of-ethics">
            Code of Ethics
          </a>
        </li>
        <li>
          <a href="https://github.com/umt-cs">Our GitHub account</a>
        </li>
      </ul>

      <h3>Administration</h3>
      <ul class="plain">
        <li>
          <a href="http://jmdeldin.com">
            Jon-Michael Deldin</a>
          (President)</li>
        <li>
          <a href="http://oneseventyfour.com">Alex Ross</a>
          (Vice President)</li>
        <li>
          <a href="http://rphv.net/">
            Perry Hooker</a> (Treasurer)</li>
        <li>
          <a href="http://www.cs.umt.edu/~mikero">
            Mike Rosulek</a> (Faculty)</li>
      </ul>
    </aside>

    <div class="clear"></div>
    <footer>
      <h3>About</h3>
      <p>
        We are the Missoula chapter of the <a href="http://acm.org"
        title="Association for Computing Machinery">ACM</a> (AKA the CS club).
        We meet every other Friday at 5 PM in Social Science 362. Our next
        meeting will be <strong>March 2</strong>.
      </p>
      <p>
        Interested in joining? Contact <tt>jon-michael.deldin@umontana</tt>.
      </p>
    </footer>
  </body>
</html>
